# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo

# Django
*.log
*.pot
*.pyc
*.mo
*.pyo
*.pyd
__pycache__/
local_settings.py
db.sqlite3
media/

# Environments
.env
venv/
ENV/
env/
.venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db